.header {
  padding-top: 50px;
  padding-bottom: 90px;
  &-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
    &-link {
      font-size: 16px;
      color: inherit;
    }
  }
  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
  }
  &-signin {
    font-weight: 500;
    color: $heading-color;
  }
  &-signup {  
    padding: 13px 45px;
    border-radius: 100rem;
    color: $primary-color;
    border: 1px solid;
    font-size: 16px;
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 25px 0 50px;
    .menu {
      display: none;
    }
  }
}
