.hero {
  margin-bottom: 270px;
  &-main {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    width: 100%;
  }
  &-heading {
    font-size: 64px;
    line-height: 125%;
    margin-bottom: 74px;
  }
  &-caption {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 48px;
    position: relative;
    color: $gray-darkest;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 32px;
      height: 2px;
      background-color: $gray-darkest;
    }
  }
  &-form {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  
  @media screen and (min-width: 1280px) {
    &-image {
      transform: translateX(85px);
    }
  }

  @media screen and (max-width: 1023.98px) {
    &-main {
      flex-direction: column;
      gap: 50px 0;
    }
    margin-bottom: 75px;
  }
  
  @media screen and (min-width: 1024px) {
    &-content {
      max-width: 470px;
    }
  }
  @media screen and (max-width: 767.98px) {
    &-heading {
      font-size: 50px;
      margin-bottom: 40px;
    }
    &-form {
      grid-template-columns: 1fr;
    }
  }
  
}
