$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", sans-serif;
$third-font: "Mulish", sans-serif;

$gray: #B8BECD;
$gray-darkest: #202336;
$gray-dark: #AFB0B9;
$primary-color: #FB8F1D;